@font-face {
    font-family: "arial-nova-bold";
    src: url("../fonts/arial-nova-bold.ttf");
}

@font-face {
    font-family: "arial-nova-light";
    src: url("../fonts/arial-nova-light.ttf");
}

@font-face {
    font-family: "rift-soft-bold";
    src: url("../fonts/rift-soft-bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

section {
    border-style: solid;
    border-width: 32px;
}

.header-section {
    height: 100vh;
    background-color: #FFF69B;
    background-image: url('../images/background_pattern_yellow.png');
    border-color: #FFF69B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#figure-left {
    height: 80%;
    position: absolute;
    left: 32px;
    top: 30%;
    z-index: 2;
}

#figure-right {
    height: 80%;
    position: absolute;
    right: 32px;
    top: 30%;
    z-index: 2;
}


.content-section {
    background-color: #000000;
    background-image: url('../images/background_pattern_grey.png');
    border-color: #000000;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-block {
    border-radius: 25px;
    width: 60%;
    margin-top: 64px;
    border: 16px solid #000000;
    background-color: #FFFFFF;
}

.text-page-block {
    padding: 32px 64px;
    font-family: arial-nova-light, sans-serif;
}

.text-page-block h2 {
    text-align: center;
    margin-bottom: 16px;
    font-family: rift-soft-bold, sans-serif;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
}

.navigation-bar a {
    margin: 16px;
    color: #000000;
    font-family: rift-soft-bold, sans-serif;
}

footer {
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 64px;
}

footer a {
    color: #8C8C8C;
}

.sponsors-block {
    background-color: white;
    border-radius: 25px;
    margin-top: 64px;
    white-space: nowrap;
    width: 40%;
    border: 16px solid #FFF69B;
    align-self: center;
    z-index: 4;
}

.sponsors-block img {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin: 4%;
}

#logo {
    max-width: 20%;
    align-self: center;
    z-index: 4;
}

@media only screen and (max-width: 1324px) {
    .page-block {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    .text-page-block {
        padding: 32px 16px;
    }

    .content-section {
        padding-top: 0;
    }

    .sponsors-block {
        width: 100%;
        margin-top: 0;
        border: none;
        border-radius: 0;
    }

    #logo {
        max-height: 70%;
        max-width: none;
        align-self: center;
        z-index: 4;
    }

    #figure-left, #figure-right {
        display: none;
    }

    @media only screen and (orientation:landscape) {
        .sponsors-block {
            width: 60%;
        }
    }
}
